 <div class="bg" ng-controller="home">
        <div class="home-frm">
        <form name="myform">
            <div class="row">
                        <button type="submit" class="btn btn-success btn-lg btn-block col-md-12" ng-click="signIn()"><i class="fa fa-sign-in" aria-hidden="true"></i>  LOGIN</button>
                </div>
            <br>
                <div class="row">
                        <button type="submit" class="btn btn-success btn-lg btn-block col-md-12" ng-click="signUp()"><i class="fa fa-sign-out" aria-hidden="true"></i> SIGN UP</button>
                    </div>
            
        </form>
        </div>
        </div>