<!doctype html>
<html ng-app="myapp">
    <script src="https://use.fontawesome.com/635bcd00b1.js"></script>
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <h1 align = "center"><i class="fa fa-user" aria-hidden="true"></i> STUDENT HOME PAGE</h1>  
    <style>
        body{
                height: 100%;
                width: 100%;
                margin: 0;
                  background-image: url(vc_images/login.jpg);
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;      
            }
    </style>
    </head>
<body> 
    <div class= "container">
        <div ng-controller="show">;
        <form name="myform">
            <div class = "form-group">
                <div class=" row col-md-offset-3 ">
                    <br>
                    <br>
                    
                    <label><i class="fa fa-user-o" aria-hidden="true"></i> STUDENT NAME:</label>
										<span ng-bind="userName"></span>
                            </div>
                <!--<div class=" row col-md-offset-3">
                    <br>
                    <br>
                    <label><i class="fa fa-sticky-note-o" aria-hidden="true"></i>SEMESTER</label>
                    <select name = "semester">
                        <option></option>
                        </select>
                            </div>-->


                <div class=" row col-md-offset-3">
                    <br>
                    <br>
                    <label> <i class="fa fa-sticky-note-o" aria-hidden="true"></i>SUBJECT</label>
										<select ng-change="initTopic(selectedSubject)" name="subject" ng-model="selectedSubject"
														ng-options="item as item.name for item in items">
											<option value="">Select subject</option>
										</select>
                </div>

							<div class=" row col-md-offset-3">
                    <br>
                    <br>
                    <label> <i class="fa fa-sticky-note-o" aria-hidden="true"></i>TOPICS</label>
									<select ng-change="topicPicked(selectedTopic)" name="topics" ng-model="selectedTopic"
													ng-options="item for item in topics">
										<option value="">Select topic</option>
									</select>
              </div>

               <div class="row col-md-offset-3">
                    <br>
                    <br>
            <button type ="submit" class= "btn btn-primary" ng-click="onShow()"><i class="fa fa-calendar" aria-hidden="true"></i> SHOW SCHEDULE</button>
                        </div>
            </div>
            <div class= "row col-md-offset-3">
                
                   <button type ="submit" class="btn btn-primary" ng-hide=false ng-click="onVisit()"><i class="fa fa-spinner"
																																																				 aria-hidden="true"></i>
										 VISIT ARTICLE LIBRARY</button>
                </div>
                <div class= "row col-md-offset-3">
                    <br>
                    <br>
                    <button ng-click="submitRecord()" type = "submit" class= "btn btn-success"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
											SUBMIT</button>
                
                </div>
                        </form>
                                                                                                                       
                                                                                                                       </div>
                </div>
                                                                                                                       
            </body>
    </html>
